# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
imports/

# ----------------------------------------------------
# Local PGA TOUR / TourCast research
# ----------------------------------------------------
*.har
*.har.gz
tourcast_*.txt
tourcast-hole*-assets/
tourcast-hole*-assets.tar.gz
golf-shot-tracker-current.txt
pgatour-shot-test/
